.slider{
    position: relative;
    display: grid;
    grid-template-rows: 4fr 1fr;
    height: 100%;
    width: 100%;
}

.slider-perspective {
    perspective: 100px;
    perspective-origin: 50% 100%;
}

.slider-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.slider--card {
    position: absolute;
    border-radius: 5px;
    width: 150px;
    height: 180px;
    top: 70%;
    left: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    cursor: pointer;
    opacity: 1;
    display: grid;
    grid-template-rows: 2fr 0.5fr 1fr ;
    font-size: 2vw;
    color: black;
    overflow: hidden;
}

.card-banner{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: inherit;
}

.card-body{
    padding: 3px 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-footer{
    padding: 5px 8px;
    font-size: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider--first {
    transform: translate3d(-50%, -50%, 40px);
    z-index: 4;
}

.slider--second {
    transform: translate3d(-50%, -50%, 30px);
    z-index: 3;
    
    // filter: blur(3px);
}

.slider--third {
    transform: translate3d(-50%, -50%, 20px);
    z-index: 2;
}

.slider--forth {
    transform: translate3d(-50%, -50%, 10px);
    z-index: 1;
}

.btn-container {
    position: relative;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-btn {
    cursor: pointer;
    
    svg{
        fill: #647D8C;

    }
}

.next-btn {
    cursor: pointer;

    svg {
        fill: #647D8C;

    }
}

.next_anim {
    transition: all 3.5s;
    transform: translateY(-15rem) translateX(50rem) rotatez(180deg);
    opacity: 0;
}

.prev_anim {
    transition: all 3.5s;
    transform: translateY(-15rem) translateX(-50rem) rotatez(-180deg);
    opacity: 0.5;
}